.budget{
    color: white;
}

.budgetContentProperties{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 390px;
    box-sizing: border-box; 
    margin-top: var(--30px);
    gap: var(--30px);
}

.tableContainerPropeties{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.buttonContainerProperties{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--blue-2);
    height: 100%;
}

.buttonContainerProperties{
    width: 25%;
    justify-content: center;
    color: white;
}

.buttonContainerProperties button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}