.budget {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-inline: var(--10px);
    color: var(--neutral-1);
}

.budgetContentProperties {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh; 
    margin-top: var(--30px);
    gap: var(--10px);
}

.tableContainerPropeties {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: var(--5px);
}

.buttonContainerProperties {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--5px);
    background-color: var(--blue-2);
    width: 100%;
    padding-bottom: var(--20px);
    color: var(--neutral-1);
}

.buttonContainerProperties button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .budget {
        width: 100%;
        padding-inline: 0;
    }
    
    .budgetContentProperties {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 500px;
        max-height: 85vh; 
        box-sizing: border-box;
        margin-top: var(--30px);
        gap: var(--30px);
    }

    .buttonContainerProperties {
        width: 25%;
        justify-content: center;
        color: white;
    }
}