.reportForm {
    width: 100%; /* mobile: full */
    display: flex;
    flex-direction: column;
    gap: var(--20px);
    margin-bottom: var(--50px);
}

@media (min-width: 768px) {
    .reportForm {
        width: 50%;
    }
}