.tableContainerPropeties {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--5px);
    height: 100%;
    width: 100%;
    background-color: var(--blue-2);
    padding: var(--20px);
    padding-inline: 0;
    gap: var(--20px); 
    overflow-x: auto;
}

.tableBodyProperties {
    display: flex;
    flex-direction: column;
    width: 95%; 
    gap: var(--10px);
    overflow-y: auto; 
    max-height: 100%;
    padding-bottom: 10px;
}

.tableHeaderProperties {
    width: 95%;
    font-size: 14px;
    min-width: 800px;
}

.tableTrProperties, .tableTrPropertiesTbody {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-self: center;
    justify-content: space-between;
    min-width: 800px; 
}

.tableTrPropertiesTbody {
    background-color: var(--neutral-2);
    height: 45px; 
    align-items: center;
    border-radius: 5px;
    color: var(--blue-4);
    padding-right: 10px;
}

.stateProperties {
    width: 150px;
    min-height: 25px;
    height: auto;
    border-radius: 100px;
    text-align: center; 
    font-size: 11px;
    font-weight: bold;
    line-height: 1.2;
    padding: 5px 10px !important;
    box-sizing: border-box; 
}

.buttonProperties {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .tableContainerPropeties {
        padding: var(--30px);
    }

    .tableBodyProperties {
        width: 100%;
    }

    .tableTrPropertiesTbody {
        width: 100%;
    }
}