* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.mainContainerProperties {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    padding-inline: var(--10px);
}

.buttonsRodContainerProperties {
    display: flex;
    position: sticky;
    height: 95vh;
}

.containerProperties{
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    gap: 30px;
    color: white;
}

.taskContainerProperties{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--10px);
    color: black;
    padding-bottom: 100px;

    margin-inline: auto;
}

.miniCalendarProperties{
    position: absolute;
    z-index: 1000;
    bottom: 70px;
    right: 100px;
}

@media (min-width: 768px) {
    .taskContainerProperties {
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--30px);

        padding-bottom: var(--50px);
    }

    .mainContainerProperties {
        flex-direction: row;
        justify-content: space-between;
    }

    .buttonsRodContainerProperties {
        height: 95vh;
    }
}