.panelButton, .filterButton, .debtButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 100%;

    border: none;
}

.panelButton {
    background-color: var(--blue-4);
    color: var(--neutral-1);
    border-radius: var(--50px);
    font-style: italic;
}

.filterButton {
    width: 200px;
    height: 100%;

    background-color: var(--neutral-4);
    color: var(--neutral-1);
    border-radius: var(--50px);

    padding-inline: var(--30px);
}

.debtButton {
    width: 50%;

    margin-top: var(--50px);
    padding: var(--10px);

    background-color: var(--blue-4);
    border-radius: var(--50px);
    color: var(--neutral-4);
    border: 2px solid var(--neutral-4);

    transition: ease-in 0.3s;
}

/*HOVERS*/
.debtButton:hover {
    background-color: var(--red);
    color: var(--neutral-1);
}