.panelButton, .filterButton, .debtButton, .greenFormButton, .lightGreyButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 100%;

    border-radius: var(--50px);
    border: none;

    transition: all ease-in 0.3s;
}

.panelButton {
    background-color: var(--blue-4);
    color: var(--neutral-1);
    font-style: italic;
}

.filterButton {
    width: 200px;
    height: 100%;

    background-color: var(--neutral-4);
    color: var(--neutral-1);

    padding-inline: var(--30px);
}

.debtButton {
    width: 50%;

    margin-top: var(--50px);
    padding: var(--10px);

    background-color: var(--blue-4);
    color: var(--neutral-4);
    border: 2px solid var(--neutral-4);

    transition: ease-in 0.3s;
}

.greenFormButton {
    width: 330px;
    height: 40px;

    background-color: var(--light-green);
    color: var(--blue-4);
}



.lightGreyButton {
    width: 330px;
    height: 30px;
}
.primary {
    background-color: var(--neutral-2);
    color: var(--blue-4);
}
.secondary {
    background-color: var(--blue-4);
    color: var(--neutral-4);
}




/*HOVERS*/
.debtButton:hover {
    background-color: var(--red);
    color: var(--neutral-1);
}

.greenFormButton:hover {
    font-weight: bold;
    background-color: var(--green);
    color: var(--neutral-1);
    transform: translateY(-5px);
}