.main, .container, .content {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.pages {
    display: flex;
    flex-direction: row;
}

.main {
    gap: var(--30px);
}

.pages {
    justify-content: space-between;

    width: 60%;
}

.pages h4 {
    width: 33%;

    padding: var(--5px);
    padding-inline: var(--30px);

    color: var(--neutral-1);
    border-radius: var(--20px) var(--20px) 0 0;
}

.content {
    padding: var(--30px);
    padding-inline: var(--20px);
    margin-inline: auto;
    gap: var(--5px);

    background-color: var(--blue-3);
}

.fiveRow, .fiveColumnNames, .sevenColumnNames {
    display: grid;

    padding: 12px var(--15px);
    border-radius: var(--50px);

    background-color: var(--blue-3);
    color: var(--neutral-1);

    transition: all 0.2s ease;
}

.fiveColumnNames p, .sevenColumnNames p {
    margin: 0;
    padding: 0;

    font-size: 14px;
    color: var(--neutral-4);
}

.fiveColumnNames, .fiveRow {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.sevenColumnNames {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.fiveRow:hover {
    background-color: var(--blue-2);
    transform: scale(1.01);
}

.fiveRow span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pages h4:hover {
    opacity: 1;
}

.tab {
    width: 33%;

    padding: var(--5px);
    padding-inline: var(--30px);

    background-color: var(--blue-4);
    color: var(--neutral-4);

    border-radius: var(--20px) var(--20px) 0 0;

    cursor: pointer;
    opacity: 0.7;

    transition: all 0.2s ease;
}

.tab:hover {
    opacity: 1;
}

.activeTab {
    background-color: var(--blue-3);
    color: var(--neutral-1);

    opacity: 1;
}