.main {
    display: flex;
    flex-direction: column;

    gap: var(--30px);
}

.functionalities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    margin-top: var(--15px);
}

.searchBar {
    width: 40%;
}

.secondFunctionalities {
    display: flex;
    flex-direction: row;

    gap: var(--30px);
}

.estadistics, .newPacient, .filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-inline: var(--20px);

    background-color: var(--neutral-4);
    border-radius: var(--50px);
}

.pacientCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    row-gap: var(--20px);
}