.formContainer {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 50vh;

    padding: var(--20px);
    padding-inline: var(--30px);
    gap: var(--50px);

    background-color: var(--blue-2);
    color: var(--neutral-1);
    border-radius: var(--5px);

    overflow-y: auto;
}

.formContainer p {
    font-size: var(--h3);
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;

    gap: var(--15px);
}

.holeInput, .holeMiniInput {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;

    gap: var(--5px);

    color: var(--neutral-1);
}

.inputBoxDefault {
    width: 100%;
    height: var(--40px);

    padding: 0;
    padding-inline: var(--20px);

    background-color: var(--blue-4);
    border-radius: var(--50px);
    color: var(--neutral-1);
    font-size: var(--h6);
}

.inputBoxBig {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;

    width: 100%;
    height: 100px;

    padding: 0;
    padding-inline: var(--20px);

    background-color: var(--blue-4);
    border-radius: var(--20px);
    color: var(--neutral-1);
    font-size: var(--h6);
}

.sharedInputs {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;

    gap: var(--20px);
}

.back {
    color: var(--neutral-4);
}

.holeInput select, .holeMiniInput select {
    min-width: 200px;
    max-width: 100%;
}

.holeInput select, .holeMiniInput select, .holeInput input, .holeMiniInput input {
    border: none;
}

.error {
    border: 1px solid var(--red);
}

.sharedInputs button {
    width: 100%;
}

@media (min-width: 768px) {
    .holeInput, .holeMiniInput {
        min-width: 400px;
    }

    .holeInput select, .holeMiniInput select {
        min-width: 400px;
    }

    .sharedInputs {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        width: 100%;

        gap: var(--50px);
    }

    .formContainer {
        height: 100%;
    }

    .holeInput, .holeMiniInput {
        display: flex;
        flex-direction: column;
        align-items: start;

        min-width: 200px;
        max-width: 100%;

        gap: var(--5px);

        color: var(--neutral-1);
    }
}