.buttonsContainerProperties {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--20px);

    width: 100%;
    height: 70px;

    background-color: #1E1D26;
    border-top: 1px solid #292831;
}

.buttonsSectionProperties {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.buttonsSectionProperties button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buttonsSectionProperties button img {
    width: 24px;
    height: 24px;
}

.newAppointment button {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    .buttonsContainerProperties {
        width: 60px;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        padding-inline: 0;
        padding-block: var(--20px);
        background-color: transparent;
        border-top: none;
    }

    .buttonsSectionProperties {
        flex-direction: column;
        gap: 10px;
    }
}