.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: var(--30px);

    padding: var(--10px);
    padding-inline: var(--30px);

    background-color: var(--neutral-4);
    border-radius: var(--50px);
    color: var(--neutral-1);
    font-style: italic;
}

.main img {
    width: var(--15px);
    height: var(--15px);
}

.main input {
    width: 100%;

    background-color: transparent;
    border: none;
}

@media (min-width: 768px) {
    .main {
        height: fit-content;
    }

    .main img {
        width: var(--20px);
        height: var(--20px);
    }
}