.sueldo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    padding: var(--10px) var(--15px);
    background-color: var(--blue-3);
    border-radius: var(--50px);
    color: var(--neutral-1);
    cursor: pointer;
    transition: 0.2s ease;
}

.sueldo:hover {
    background-color: var(--blue-2);
    transform: scale(1.01);
}

.active {
    background-color: var(--blue-2);
    padding: var(--10px);
}

.delete {
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
}

.select {
    padding: var(--5px) var(--20px);
    border: none;
    border-radius: var(--20px);
    color: var(--neutral-1);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.pago {
    background-color: var(--green);
}

.nopago {
    background-color: var(--red);
}

.view {
    background: transparent;
    color: var(--neutral-2);
    border: none;
    border-radius: var(--20px);
    cursor: pointer;
    margin-right: 5px;
}

.statusContainer {
    display: flex;
    justify-content: flex-start;
}