.main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;

    width: 95%;

    padding: var(--5px);
    padding-inline: var(--15px);

    background-color: var(--blue-4);
    color: var(--neutral-1);
    border-radius: var(--50px);
}