.cardContainerProperties{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: fit-content;
    border-radius: 5px;
    background-color: rgba(212, 212, 212, 1);
    font-size: 18px;
 
}

.containerProperties{
    display: flex;
    flex-direction: column;
    gap: var(--20px);
    padding: var(--20px);
}

.infoContainerProperties{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.buttonsContainerProperties{
    display: flex;
    flex-direction: row;
    gap: 30px
}
.buttonsContainerProperties button{
    background-color: transparent;
    border: none;
}

.buttonsProperties{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.selectProperties select{
    width: 190px;
    border-radius: 20px;
    height: var(--30px);
    text-align: center;
    background-color: rgba(38, 38, 38, 1);
    color: white;
}

.barraColor{
    width: 100%;
    height: 20px;
}