.cardContainerProperties {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: fit-content;
    background-color: var(--blue-3);
    font-size: 18px;
    border-radius: var(--5px);
    color: var(--neutral-1);
}

.containerProperties {
    display: flex;
    flex-direction: column;
    gap: var(--20px);
    padding: var(--20px);
}

.infoContainerProperties {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.infoContainerProperties h5 {
    color: var(--neutral-4);
}

.buttonsContainerProperties {
    display: flex;
    flex-direction: row;
    gap: 30px
}

.buttonsContainerProperties button {
    background-color: transparent;
    border: none;
}

.buttonsProperties {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttonsProperties button {
    cursor: pointer;
}

.selectProperties  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 190px;
    border-radius: 20px;
    height: var(--30px);
    text-align: center;
    background-color: var(--blue-1);
    color: white;
}

.upperBarraColor, .bottomBarraColor {
    width: 100%;
    height: 20px;
}

.upperBarraColor {
    border-radius: var(--5px) var(--5px) 0 0;
}

.bottomBarraColor {
    border-radius: 0 0 var(--5px) var(--5px);
}

.formContainerProperties{
    background-color: rosybrown;
}

@media (min-width: 768px) {

}