.firstContainerProperties{
    width: 100%;
    height: 100vh;
    background-color: rgba(23, 22, 32, 0.7);
    position: absolute;
    z-index: 999;
    align-content: center;
}

.deleteConfirmCardContainerProperties{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: fit-content;
    padding: var(--30px);
    border: 2px solid var(--neutral-1);
    color: var(--neutral-1);
    background-color: var(--blue-4);
    text-align: center;
    gap: 20px;
    margin-left: 20%;
    margin-bottom: 5%;
    border-radius: var(--10px);
}

.buttonsContainerProperties{
    display: flex;
    flex-direction: row;
    gap: var(--20px);
    justify-content: center;
}

.acceptButtonProperties, .cancelButtonProperties{
    width: 100px;
    height: var(--30px);
    border-radius: var(--10px);
    background-color: transparent;
    color: var(--neutral-1);
    cursor: pointer;
}

.acceptButtonProperties{
    border: 1px solid var(--green);
}

.cancelButtonProperties{
    border: 1px solid var(--red);
}