.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    width: 99%;

    padding: var(--5px);
    padding-inline: var(--40px);
    margin-inline: auto;

    border-radius: var(--50px);
    color: var(--neutral-1);
    background-color: var(--blue-2);

    border: 2px solid transparent;
    transition: all ease-in 0.2s;
}

.debt {
    color: var(--red);
    font-weight: bold;
}

.main:hover {
    background-color: var(--blue-4);
}

.overdue {
    border-color: var(--red);
    background-color: rgba(255, 0, 0, 0.05); 
}

.overdueText {
    color: var(--red);
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}