html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.appContainer {
    display: flex;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.content {
    flex: 1;
    overflow: visible;

    padding-top: var(--30px);
    padding-bottom: 70px;
}

@media (min-width: 768px) {
    .content {
        padding: var(--30px);

        padding-bottom: 70px;
    }
}