.shiftContainer {
    display: flex;
    flex-direction: column;
    padding-inline: var(--10px);
    color: var(--neutral-1);
    justify-self: center;
    align-self: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

}